@page
@model MyApp.Namespace.NuevoBusModel
@{
    ViewData["Title"] = "Añadir Bus";
}
<h1>Agregar Bus</h1>
<form method="post">
    <div class="form-group">
        <p>Patente: 
            <input class="form-control" name="patente" required maxlength="50"/>
        </p>
    </div>
    <div class="form-group">
        <p>Código:
            <input class="form-control" name="codigo" required maxlength="50"/>
        </p>
    </div>
    <div class="form-group">
        <p>Disponibilidad:
            <Select class="form-control" name="disponibilidad">
                <option value="true">Disponible</option>
                <option value="false">No Disponible</option>
            </Select>
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
