@page
@model IndexModel
@{
    ViewData["Title"] = "Panel de Control";
}

<h1>Bienvenido al Sistema de Gestión</h1>

<div>
    <h2>Gestión de Buses</h2>
    <ul>
        @* <li><a href="/Crear/NuevoBus">Añadir Nuevo Bus</a></li> *@
        @* <li><a href="/Eliminar/EliminarBus">Eliminar Bus</a></li> *@
        <li><a href="/Listar/ListarBuses">Listar Buses</a></li>
    </ul>
</div>

<div>
    <h2>Gestión de Choferes</h2>
    <ul>
        @* <li><a href="/Crear/NuevoChofer">Añadir Nuevo Chofer</a></li> *@
        @* <li><a href="/Eliminar/EliminarChofer">Eliminar Chofer</a></li> *@
        <li><a href="/Listar/ListarChoferes">Listar Choferes</a></li>
    </ul>
</div>

<div>
    <h2>Gestión de Viajes</h2>
    <ul>
        <li><a href="/Crear/NuevoViaje">Agendar Nuevo Viaje</a></li>
        <li><a href="/Listar/ListarViajes">Listar Viajes</a></li>
    </ul>
</div>
